@import url(../css/boilerplate.css);
@import url(../css/headerBar.css);
@import url(../css/footer.css);

.failed ,.success{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color:rgb(248, 243, 236);
    height: 40vh;
    width: 30vw;
    border-radius: 0.5rem;
    box-shadow: #3498db 0 0 1rem;
}

.success h2, .failed h2{
    color:rgb(47, 47, 47);
}

.success a,.failed a{
    border: 1px gray;
    border-radius: 0.5rem;
    color: black;
    background-color: rgb(211, 224, 237);
}

a:hover{
    color: #fff;
    background-color: #3498db;
}